SA_PASSWORD=YourStrongPassword123!
JWT_SECRET=your_super_secret_key_minimum_32_characters_long
JWT_ISSUER=HabitTrackerBackend
JWT_AUDIENCE=HabitTrackerFrontend
JWT_HOURS=24
# Базовый URL бэкенда для связи с фронтендом внутри сети Docker
API_BASE_URL=http://habittracker:8080